pipeline/Snowflake_Ingest_Into_Blob.json
{
	"name": "Snowflake_Ingest_Into_Blob",
	"properties": {
		"activities": [
			{
				"name": "Copy Data From Snowflake To ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set As Of Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Snowflake_Raw_IBS_DIM_CUSTOMER",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Snowflake_Customer_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@concat('raw/',pipeline().parameters.SystemName, '/',\n          pipeline().parameters.SchemaName,'/',\n           pipeline().parameters.TableName,'/',\n           pipeline().parameters.VersionNumber,\n           '/Year=', formatDateTime(variables('As_Of_Date'),'yyyy'),'/Month=', formatDateTime(variables('As_Of_Date'),'MM'), '/Day=', formatDateTime(variables('As_Of_Date'),'dd'))",
								"type": "Expression"
							},
							"FileName": "@concat(pipeline().parameters.TableName,'.parquet')"
						}
					}
				]
			},
			{
				"name": "Set As Of Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "As_Of_Date",
					"value": {
						"value": "@convertTimeZone(utcnow(),'UTC','Pacific Standard Time')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SchemaName": {
				"type": "string",
				"defaultValue": "RAW"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "IBS_DIM_CUSTOMER"
			},
			"SystemName": {
				"type": "string",
				"defaultValue": "IBS"
			},
			"VersionNumber": {
				"type": "string",
				"defaultValue": "Version1"
			}
		},
		"variables": {
			"As_Of_Date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}